<div class="panel-heading">
  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#{{beer.bid}}">
    <h4 class="panel-title">{{beer.beer_name}} <small><i class="glyphicon glyphicon-plus-sign pull-right"></i></small></h4>
  </a>
</div>
<div id="{{beer.bid}}" class="panel-collapse collapse">
  <div class="panel-body">
    
    {{! Label }}
    {{#if beer.beer_label}}
      <img alt="" src="/images/transparent.gif" data-original="{{beer.beer_label}}" class="img-thumbnail pull-right lazy">
    {{/if}}

    {{! Description }}
    {{#if beer.beer_description}}
      <p>{{beer.beer_description}}</p>
    {{else}}
      <p class="text-info"><em>Description not available.</em></p>
    {{/if}}

    <hr>

    {{! Info }}
    <dl class="dl-horizontal">
      {{#if brewery.brewery_name}}
        <dt>Brewery</dt>
        <dd data-name="brewery-name" data-value="{{brewery.brewery_name}}">{{brewery.brewery_name}}</dd>
      {{/if}}
      {{#if beer.beer_style}}
        <dt>Style</dt>
        <dd data-name="beer-style" data-value="{{beer.beer_style}}">{{beer.beer_style}}</dd>
      {{/if}}
      {{#if beer.beer_abv}}
        <dt>ABV</dt>
        <dd>{{beer.beer_abv}}</dd>
      {{/if}}
    </dl>

    {{!-- Toolbar
    <hr>
    <div class="alert alert-info alert-dismissable hidden">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>One sec!</strong> Toolbar features aren't quite ready yet.
    </div>
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-md" data-name="suggest" data-value="{{beer.bid}}">
          <span class="glyphicon glyphicon-star"></span> Star
        </button>
      </div>
    </div> --}}

  </div>
</div>
